.bodyreg{
    background-image: url('./../../assets/images/regback.jpg') ;
    background-repeat: no-repeat;
    
   

}

.singcard{
    border: 1px solid hsl(0, 0%, 87%);
            border-radius: 18px;
            padding: 16px;
            margin: 16px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.784);
            background-color: #ffffff3e;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }


.step1{
    padding: 5px 5px;
    font-size: 45px;
    font-weight: bold;
    color: #1d0683;
}

.input1 {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background: linear-gradient(45deg, hsl(210, 100%, 85%), #60c5ff);
    outline: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 190px; 
    height: 50px; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }
  
.input1::placeholder {
    color: #000000;
  }
  
.input1:focus {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
  }

  .input2 {
    
    padding: 15px 25px;
    margin-left: 5px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background: linear-gradient(45deg, #9ca8ff, #aae0ff);
    outline: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 150px; 
    height: 50px; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }
  
.input2::placeholder {
    color: #000000;
  }
  
.input2:focus {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
  }

  .input3 {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background: linear-gradient(45deg, #9ca8ff, #aae0ff);
    outline: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 190px; 
    height: 50px; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }
  
.input3::placeholder {
    color: #000000;
  }
  
.input3:focus {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
  }

  .lbbirthday{
    color: #1d0683;
    margin-top:10px;
  }